<!DOCTYPE html>
<html>
<head>
	<title>Profile|Admin</title>
	
</head>
<body>
	<div align="center">
          <img src="/images/logo1.jpg" alt="Logo" width="150" >
          <h1 style="color: blue"><i>Intelligent Tourist Guide</i></h1>
        </div>
	<h1 align="center">Profile-Page</h1>  
	<a href="/admin">Back</a> |
	<a href="/logout">logout</a>

	<table width="300px" align="center">
		
		<tr>
			<td>Name</td>
			<td width="2%">:</td>
			<td><%=name%></td>
		</tr>
		<tr>
			<td width="35%">User Name</td>
			<td width="2%">:</td>
			<td><%=username%></td>
		</tr>
		<tr>
			<td>Password</td>
			<td width="2%">:</td>
			<td><%=password%></td>
		</tr>
		
	</table>

</body>
</html>