<!DOCTYPE html>
<html>
<head>
	<title>Login|Inteligent Tourist Guide</title>
		<style>
		.button {
		    background-color: blue;
		    border: none;
		    color: white;
		    padding: 5px 40px;
		    text-align: center;
		    text-decoration: none;
		    display: inline-block;
		    font-size: 16px;
		    margin: 4px 2px;
		    cursor: pointer;
		    border-radius: 5px;
		}

		input[type=text] {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid blue;
    border-radius: 10px;
}
input[type=password] {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid blue;
    border-radius: 10px;
}

	</style>
 
</head>
<body>
	<div align="center">
          <img src="/images/logo1.jpg" alt="Logo" width="150" >
          <h1 style="color: blue"><i>Intelligent Tourist Guide</i></h1>
        </div>
	<table align="center">
		<tr>
			<td>
	       <fieldset>
				<legend><h1>Login</h1></legend>
		          <form method="post" >
			<table>
				<tr><td><img src="/images/logo1.jpg" alt="logo" width="250" ></td></tr>
			<tr><td>Title: <input type="text" name="title" required="" /></td></tr><br>
			<tr><td>How to go: <input type="text" name="how" required="" /></td></tr><br>
			<tr><td><input class="button"type="submit" name="submit" value="Submit" /></td></tr><br>
			
		</table>
		</form>
		</fieldset>
	</td>
	</tr>
	</table>
</body>
</html>