<!DOCTYPE html>
<html>
<head>
	<title>Home|User</title>
	<link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body>

	<div align="center"><img src="/images/logo1.jpg" alt="logo" width="250" ></div>
	<h1 align="center"> Welcome home, <%=name%></h1>  
	<div align="center"><a href="/user/profile">Profile</a> |
	<a href="/Logout">logout</a></div></br></br>
	<div align="center">
	<a class="button"href="https://www.hotels.com/">Hotel-Booking</a></br></br>
	<a class="button"href="https://bdtickets.com/">Launch-Ticket</a></br></br>
	<a class="button"href="https://bdtickets.com/">Bus-Ticket</a>
   </div>

</body>
</html>