<!DOCTYPE html>
<html>
<head>
	<title>About|Intelligent Tourist Guide</title>
	<style type="text/css">
		p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}
	</style>
</head>
<body>
	<div align="center">
          <img src="/images/logo1.jpg" alt="Logo" width="150" >
          <h1 style="color: blue"><i>Intelligent Tourist Guide</i></h1>
        </div>
	<h1 align="center">About Us</h1>
	<div align="center"> <img src="/images/Saint.jpg" width="50%"></div>
	<div align="center">
		<h1>Going on a trip?</h1>
		<p>
		Don't want to deal with the hassle of hours of research? Would like a plan that matched your preferences to magically show up? Well, you have come to the best site that'll help you plan your perfect trip.</p>

          <p> Intelligent Tourist guide provides a detailed day-by-day plan of attractions you will see at the various destinations on your personalized itinerary. The plan is completely customizable with options you can choose on the home page and by adding and deleting recommended attractions and destinations.</p>

          <p> Write notes to yourself for future reference, save your plan to take with you on your trip, and book your hotels directly. Connect with your Facebook friends and fellow travelers to share your plan and to ask their opinions and assistance in planning.</p>

           <p>Intelligent tourist guidw builds your itinerary from hundreds of thousands of carefully curated attractions in thousands of destinations in Bnagladesh. It uses advanced technologies to sift through the large amounts of data to find the perfect match based on your preferences.</p>

           <p>So let us plan your trip. And you can start dreaming about the memories you'll be making.
		</p>
	</div>
</body>
</html>