<!DOCTYPE html>

<html>
<head>

<style>
.navbar {
    overflow: hidden;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
	margin-top:0px;
}
#example1 {
    box-sizing: content-box;    
    width: 300px;
    height: 120px;
    padding: 30px;    
    border: 2px solid blue;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}s

</style>
</head>
<body>
  <div align="center">
          <img src="/images/logo1.jpg" alt="Logo" width="150" >
          <h1 style="color: blue"><i>Intelligent Tourist Guide</i></h1>
        </div>
<div class="navbar">
  <a href="/userlogin">Login</a>
</div>
<div style="margin-left:60px;margin-top:60px">
	<h2>Highlights from your plan</h2>
</div>
<div>
	<img style="margin-left:60px" src="/images/bandarban-tour.jpg" alt="Bandorban" height="150px" width="300px">
</div>
<div style="margin-left:60px">
	<h1>Bandorban</h1>
</div>
<div>
  <p>
    <h3>Location:</h3>Bandorban is a union located in north of Chittagong Hill Tracts under Rangamati Zilla. It is situated 67 km north-east from Khagrachhari town and 95 km North-West from Rangamati city. The border of Bangladesh and Mizoram of India is 8 kilometer east from Sajek.
  </p>
</div>
<div>
	<img style="margin-left:60px" src="/assets2/str.png" height="15px" width="80px">
</div>
<div style="margin-left:70px" id="example1">
	<p>Bandarban, is a district in South-Eastern Bangladesh, and a part of the Chittagong Division. It is one of the three hill districts of Bangladesh and a part of the Chittagong Hill Tracts, the others being Rangamati District and Khagrachhari District. Bandarban city is the headquarter of the Bandarban district.</p>
  <a href="https://bdtickets.com/">Buy-Bus-Ticket</a><br/>
<a href="https://www.hotels.com/">Hotel Booking</a>
	
</div>

</body>
</html>
