<!DOCTYPE html>

<html>
<head>

<style>
.navbar {
    overflow: hidden;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
	margin-top:0px;
}
#example1 {
    box-sizing: content-box;    
    width: 300px;
    height: 170px;
    padding: 30px;    
    border: 2px solid blue;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

</style>
</head>
<body>
  <div align="center">
          <img src="/images/logo1.jpg" alt="Logo" width="150" >
          <h1 style="color: blue"><i>Intelligent Tourist Guide</i></h1>
        </div>
<div class="navbar">
  <a href="/userlogin">Login</a>
</div>
<div style="margin-left:60px;margin-top:60px">
	<h2>Highlights from your plan</h2>
</div>
<div>
  <img style="margin-left:60px" src="/images/tea.jpg" alt="cox's Bazar" height="150px" width="300px">
</div>
<div style="margin-left:60px">
	<h1><p>Sylhet</p></h1>
</div>
<div>
  <p>
    <h3>Location:</h3>Sylhet is a union located in north of Chittagong Hill Tracts under Rangamati Zilla. It is situated 67 km north-east from Khagrachhari town and 95 km North-West from Rangamati city. The border of Bangladesh and Mizoram of India is 8 kilometer east from Sylhet.
  </p>
</div>
<div>
	<img style="margin-left:60px" src="str.png" height="15px" width="80px">
</div>
<div style="margin-left:80px" id="example1">
	<p>Sylhet is a city in eastern Bangladesh, on the Surma River. It’s known for its Sufi shrines, like the ornate tomb and mosque of 14th-century saint Hazrat Shah Jalal, now a major pilgrimage site near Dargah Gate. The tiny Museum of Rajas contains belongings of the local folk poet Hasan Raja. A 3-domed gateway stands at the 17th-century Shahi Eidgah, a huge open-air hilltop mosque built by Emperor Aurangzeb.</p>
<a href="https://bdtickets.com/">Buy-Bus-Ticket</a><br/>
<a href="https://www.hotels.com/">Hotel Booking</a>
</div>

</body>
</html>
