<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<title>Intelligent Tourist Guide System</title>

	<!-- Boostrap CDN -->
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- Font Awesome CDN -->
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<!-- 	Theme Css File -->
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

</head>
<body>

	<!--Top Header-->
                <div align="center">
					<img src="/images/logo1.jpg" alt="Logo" width="150" >
					<h1 style="color: blue"><i>Intelligent Tourist Guide</i></h1>
				</div>
	

			<div class="col-lg-8 box">
				<h3>Inani Beach</h3>
				<div>
 				 <img style="margin-left:60px" src="/images/inani.jpg" alt="cox's Bazar" height="150px" width="300px">
				</div>
				<div class="col-lg-4">
					<p><b>12:00am - 1:00pm</b></p>
				</div>
				<div class="col-lg-12">
				
					<p >Relax at secluded Inani Beach, full of coral formations and attractive stones. Spend your day swimming, snorkeling, and simply enjoying this natural beauty, which sits quite far from the beaten track. However, you won’t regret the trip, as this sandy beach offers nothing but tranquility. You can come with your family, friends, or alone to watch the beautiful sunset and enjoy the serenity. There are no special activities on the beach, making it the perfect spot for people who want to spend their time relaxing and appreciating the nature.</p>
				</div>
			
				
			</div>

			<div class="col-lg-8 box">
				<h3>Himchori Waterfall</h3>
				<div>
 				 <img style="margin-left:60px" src="/images/Himchori.jpg" alt="cox's Bazar" height="150px" width="300px">
				</div>
				<div class="col-lg-4">
					<p><b>1:30pm - 5:30pm</b></p>
				</div>
				<div class="col-lg-12">
					
					<p >Observe the diverse wildlife found at Himchori Waterfall, with over 55 animal species and 117 plant species located in the national park, including elephants, tigers, wild boars, sloths, and many more. A nearby waterfall cascades over moss-covered stones, while the beach looks out over the Bengal bay. Take the forest trail up the hill to enjoy panoramic sea views, or stay nearer the beach and treat yourself to a fresh coconut.</p>
				</div>
			
				
			</div>



			

				</div>
			</div>	
				</div>
			</div>
		</div>
	</section>
	<section class="day-to-day">
		<div class="container">
			<div class=" col-lg-2 start-to-end-date">
			<p>Tue, Nov 20</p>
		</div>
		</div>
		
	</section>

	<section class="plan-section">
		<div class="container">
			<div class="col-lg-8 box">
				<h3>Cox's Bazar Beach</h3>
				<div>
 				 <img style="margin-left:60px" src="/images/cox-Bazar.jpg" alt="cox's Bazar" height="150px" width="300px">
				</div>
				<div class="col-lg-4">
					<p><b>12:00pm - 2:30pm</b></p>
				</div>
				<div class="col-lg-12">
					
					<p>Take a vacation to the longest sea beach in the world at Cox's Bazar Beach. At 125 km (78 mi) long, this impressive stretch of shoreline offers plenty of room to stretch out, so much so that you might feel like you have the whole place to yourself. Situated between the Bakkali River and the Bay of Bengal, the beach offers smooth sand and a gentle slope into the water, so even children can swim safely. Join in activities like speed boating, horseback riding, and playing football, or simply collect sea-worn stones from the shore.</p>
				</div>
			
				
			</div>
		</div>
	</section>

	



	<!--Jquery Library File-->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

	<!--Bootstrap JS-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

</body>
</html>