<html>
	<head>
		<title>
			Registration|Intelligent Tourist Guide System
		</title>
		<style>
		
		.error{color:red;}
		h1{color:orange;}
		h2{color: green;}
		
				.registration-page{
			width: 450px; 
			background: gray; 
			padding: 10px 20px; 
			box-sizing: border; 
			position:absolute; 
			left: 50%; 
			top:88%; 
			transform: translate(-50%, -50%);
		    border-radius: 10px;
			}
			h2{
			text-align: center; 
			color: blue; 
			font-weight: normal; 
			margin-bottom: 20px;
			}
		.input{

			width: 100%; 
			background: none; 
			border: 1px solid #fff; 
			border-radius: 3px; 
			padding: 6px 15px; 
			box-sizing: border-box; 
			margin-bottom: 20px; 
			font-size:16px;
			}
		.input[type="button"]{background: #bac675; border: 0; cursor: pointer;}
		input[type="button"]:hover{background: #a4b1Sc}

		a:link {
		    color: #0094DE;
		    text-decoration: none;
		}
		a:visited {
		        text-decoration: none;
		color: blue;
		}
		.button {
				    background-color: blue;
				    border: none;
				    color: white;
				    padding: 5px 70px;
				    text-align: center;
				    text-decoration: none;
				    display: inline-block;
				    font-size: 16px;
				    margin: 4px 2px;
				    cursor: pointer;
				    border-radius: 5px;
				}
				.div {
    border-style: solid;
    border-color: #92a8d1;
		}
		input[type=text] {
    width: 30%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid blue;
    border-radius: 10px;
}
input[type=password] {
    width: 30%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid blue;
    border-radius: 10px;
}
input[type=email] {
    width: 30%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid blue;
    border-radius: 10px;
}
input[type=date] {
    width: 30%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid blue;
    border-radius: 10px;
}

		</style>
	</head>
	<body>
	
	<form method="post">
		
	<div align="center"class="form">

		<form class="Sign Up"  method="post">
			<div align="center">
				<img src="/images/logo1.jpg" style="width: 10% height:5%">
			</div>
		<h2>Sign Up</h2>
		<input type="hidden" name="id" value="<?php echo $id; ?>">
		<input class="div"type="text" placeholder="First Name" name="fname"/><br/>
		<span class="error"><?php echo $nameErr;?></span>
		<input class="div"type="text" placeholder="Last Name" name="lname"/><br/>
		<span class="error"><?php echo $lnameErr;?></span>
		<input class="div"type="text" placeholder="Mobile No" name="mobile"/><br/>
		<span class = "error"><?php echo $mobileErr;?></span>
		<input class="div"type="email" placeholder="Email" name="email"/><br/>
		<span class="error"><?php echo $emailErr;?></span>
		<input class="div"type="password" placeholder="Password" name="pass"/><br/>
		<span class = "error"><?php echo $passwordErr;?></span>
		<br>
		<label>Date of birth :</label><br/>
		<input class="div"type="date" placeholder="Date of Birth" name="date"/> <br/>
		<span class = "error"><?php echo $dateErr;?></span>
		<label>Gender :</label>
		<input class="div"type="radio" name="gender" value="male" /> Male
		<input class="div"type="radio" name="gender" value="female"/> Female
		<span class="error"><?php echo $genderErr;?></span>
				
		<br>
		<label>Address : <br></label>
		<input class="div"type = "text" name = "add">
          <span class = "error"><?php echo $addErr;?></span>
		<br>
		
		<input type="checkbox" name = "checked" value = "1"/> 

		I agree to the terms of conditons . <br>
		<input class="button" type="submit" name="submit" value="Sign Up"><br/>
		<p class="messege">Already Regesterd? <a href='login'>Login</a> </P>
		</form>
		
	
	</div>
	</form>
	</body>
</html>
