<!DOCTYPE html>

<html>
<head>

<style>
.navbar {
    overflow: hidden;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
	margin-top:0px;
}
#example1 {
    box-sizing: content-box;    
    width: 300px;
    height: 160px;
    padding: 30px;    
    border: 2px solid blue;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

</style>
</head>
<body>
  <div align="center">
          <img src="/images/logo1.jpg" alt="Logo" width="150" >
          <h1 style="color: blue"><i>Intelligent Tourist Guide</i></h1>
        </div>
<div class="navbar">
  <a href="/userlogin">Login</a>
</div>
<div style="margin-left:60px;margin-top:60px">
	<h2>Highlights from your plan</h2>
</div>
<div>
	<img style="margin-left:60px" src="/images/sajek.jpg" alt="Sajek" height="150px" width="300px">
</div>
<div style="margin-left:60px">
	<h1><p>Sajek</p></h1>
</div>
<div>
  <p>
    <h3>Location:</h3>Sajek is a union located in north of Chittagong Hill Tracts under Rangamati Zilla. It is situated 67 km north-east from Khagrachhari town and 95 km North-West from Rangamati city. The border of Bangladesh and Mizoram of India is 8 kilometer east from Sajek.
  </p>
</div>
<div>
	<img style="margin-left:60px" src="str.png" height="15px" width="80px">
</div>
<div style="margin-left:60px" id="example1">
	<p>
    <h3 align="center">Sajek</h3>
  Sajek Valley is an emerging tourist spot in Bangladesh situated among the hills of Kasalong range of mountains in Sajek union, Baghaichhari Upazila in Rangamati District. The valley is 2000 feet above sea level. Sajek valley is known as the Queen of Hills & Roof of Rangamati.</p>
   <a href="https://bdtickets.com/">Buy-Bus-Ticket</a><br/>
 <a href="https://www.hotels.com/">Hotel Booking</a><br/>
 <a href="https://www.shohoz.com/launch/">Buy-Launch-Ticket</a>

</div>

</body>
</html>
