<!DOCTYPE html>

<html>
<head>

<style>
.navbar {
    overflow: hidden;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
	margin-top:0px;
}
#example1 {
    box-sizing: content-box;    
    width: 300px;
    height: 100px;
    padding: 30px;    
    border: 2px solid blue;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

</style>
</head>
<body>
  <div align="center">
          <img src="/images/logo1.jpg" alt="Logo" width="150" >
          <h1 style="color: blue"><i>Intelligent Tourist Guide</i></h1>
        </div>
<div class="navbar">
  <a href="/userlogin">Login</a>
</div>
<div style="margin-left:60px;margin-top:60px">
	<h2>Highlights from your plan</h2>
</div>
<div>
	<img style="margin-left:60px" src="/images/sundorban.jpg" alt="Sundorban" height="150px" width="300px">
</div>
<div style="margin-left:60px">
	<h1>Sundorban</h1>
</div>
<div>
  <p>
    <h3>Location:</h3>Sundarban is a union located in north of Chittagong Hill Tracts under Rangamati Zilla. It is situated 67 km north-east from Khagrachhari town and 95 km North-West from Rangamati city. The border of Bangladesh and Mizoram of India is 8 kilometer east from Sundarban.
  </p>
</div>
<div>
	<img style="margin-left:60px" src="/assets2/str.png" height="15px" width="80px">
</div>
<div style="margin-left:60px" id="example1">
<p>The Sundarbans is a mangrove area in the delta formed by the confluence of Ganges, Brahmaputra and Meghna Rivers in the Bay of Bengal. It spans from the Hooghly River in India's state of West Bengal to the Baleswar River in Bangladesh.</p>
<a href="https://bdtickets.com/">Buy-Bus-Ticket</a><br/>
<a href="https://www.hotels.com/">Hotel Booking</a>
</div>

<div>

</div>
</body>
</html>
